@font-face {
  font-family: "Astro";
  src: url("fonts/Astro.woff"),
       url("fonts/Astro.ttf");
}


[class^="hermetica-"], [class*=" hermetica-"] {
  color: black;
  font-size: 3em;
}

body {
  background: #aaa;
}
.hide {
  visibility: hidden;
}
#playground {
  border: 1px solid red;
  margin: 2em;
  width: 200px;
}


.astro {
  font-family: 'Astro';
  font-size: 2em;
}


/* svg {
  transform: rotate(-90deg);
  width: 100vw;
  border: 1px solid black;
  }
svg path {
  fill-rule: nonzero;
  stroke: #fff;
  stroke-width: 1.5px;
}
svg text {
  font-family: 'Astro';
  font-size: 108px;
  fill: #fff;
  stroke: none;
  text-anchor: middle;
} */


/* 
svg a {
  cursor: pointer;
}
.coords {
  stroke: gray;
}
.coords-text {
  font-family: sans-serif;
  font-size: 1em;
}

[id$="triangle"] {
  stroke: white;
  stroke-width: 0.01px;
}
[id$="line"] {
  fill: none;
  stroke: white;
}
[id$="label"] {
  fill: none;
  stroke: white;
  stroke-width: 0.83px;
}
[id$="circle"] {
  fill: none;
  stroke: white;
  stroke-width: 1.25px;
}
[id$="group"]:hover {
  opacity: 0.5;
}

[class^="cardinal"] {
  fill: rgb(204,0,0);
  stroke: white;
}
[class^="fixed"] {
  fill: rgb(102,102,255);
  stroke: white;
}
[class^="mutable"] {
  fill: rgb(0,153,0);
  stroke: white;
} */



@media only screen and (min-width: 600px) {

  /* svg {
    width: 100%;
    height: auto;
    margin-top: 0;
    transform: rotate(0deg);
  }
  [class$="text"] {
    display: block;
  }
  [class$="text-vert"] {
    display: none;
  }

  #capricorn {
    transform: rotate(0deg);
  } */

}